@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
:root {
  --success-color: green;
  --warning-color: orange;
  --error-color: red;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.counter {
  width: 150px;
  padding: 20px;
  background: rgb(119, 58, 155);
  color: #fff;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  margin: 0 10px;
}
