<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <!-- WEB: https://www.youtube.com/watch?v=fRPCVBfD7hw&list=PLodO7Gi1F7R0zA8RkRHcDgnPduNBmjkb5&index=10 -->
    <!-- FONT: https://fonts.google.com/specimen/Poppins?query=Poppins -->
    <!-- ICONS: https://cdnjs.com/libraries/font-awesome -->
    <div class="container">
      <form action="">
        <h1>Login From</h1>
        <!-- item input  -->
        <div class="form-control">
          <input id="username" type="text" placeholder="Username" />
          <span></span>
          <small></small>
        </div>
        <!-- item input  -->
        <div class="form-control">
          <input id="email" type="text" placeholder="Email" />
          <span></span>
          <small></small>
        </div>
        <!-- item input  -->
        <div class="form-control">
          <input id="password" type="text" placeholder="Password" />
          <span></span>
          <small></small>
        </div>
        <!-- item input  -->
        <div class="form-control">
          <input
            id="confirm-password"
            type="text"
            placeholder="Confirm password"
          />
          <span></span>
          <small></small>
        </div>

        <button type="submit" class="btn-submit">Login</button>
        <div class="sign-link">Not a member? <a href="#">Signup</a></div>
      </form>
    </div>

    <script src="./filejs.js"></script>
  </body>
</html>
