@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
:root {
  --primary-color: rgb(245, 107, 102);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(to right, #4daf54, #3d8880);
  font-family: "Poppins", sans-serif;
}

.card {
  margin: 40px auto;
  width: 320px;
  height: 370px;
  background: #272d40;
  padding: 20px;
  border-radius: 15px;
  color: #fff;
  position: relative;
}

.card__heart,
.card__cart {
  font-size: 25px;
  position: absolute;
  cursor: pointer;
  z-index: 1;
}

.card__heart {
  left: 20px;
  top: 15px;
}
.card__cart {
  right: 20px;
  top: 15px;
}
.card__img {
  margin: 30px 0 20px;
  width: 100%;
  transform: scale(1.2);
  transition: all 0.5s;
}

.card:hover .card__img {
  transform: translateY(-40%) rotate(-20deg) scale(1.2);
}

.card__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__title,
.card__price {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  transition: all 0.5s;
}

.card:hover .card__title {
  transform: translate(-21%, -120%);
}
.card:hover .card__price {
  transform: translate(-44%, -120%);
}

.card__title {
  color: var(--primary-color);
}

.card__size,
.card__color {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.card__size {
  margin-top: 150px;
}
.card__size,
.card__color,
.card__action {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
  transition-delay: 0.3s; /* ***** Hover đi ra sẽ dựt dựt */
}

.card:hover .card__size {
  margin-top: -20px;
}

.card:hover .card__size,
.card:hover .card__color,
.card:hover .card__action {
  visibility: visible;
  opacity: 1;
}

.card:hover .card__size span {
  padding: 1px 10px;
  background: #dadada;
  color: #000;
  border-radius: 5px;
  margin: 0 5px;
  cursor: pointer;
}

.card__color span {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.card__color--green {
  background: green;
}

.card__color--red {
  background: red;
}

.card__color--black {
  background: #000;
}

.card__action button {
  background: var(--primary-color);
  outline: none;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  margin-right: 4px;
  transition: all 0.25s;
  cursor: pointer;
}
.card__action button:hover {
  transform: scale(1.1);
}
