@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
:root {
  --success-color: green;
  --warning-color: orange;
  --error-color: red;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#home {
  background: linear-gradient(to right, #4daf54, #3d8880);
  color: #fff;
  padding: 0 50% 0 20px;
}

#home h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

.description {
  font-size: 16px;
}

#about {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 20%;
}
#about .box {
  height: auto;
  background: #000;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin: 0 10px;
}

#about .box .title {
  font-size: 24px;
  border-bottom: 1px dashed #dadada;
}

#team {
  background: linear-gradient(#5017c2 50%, #fff 50%);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 20%;
}

#team .member {
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: 0 10px;
  background: #fff;
  padding: 10px;
  border-radius: 10px;
}

#team .member .name {
  color: green;
  font-weight: 600;
  padding-bottom: 5px;
}

.left-to-right {
  transform: translateX(-200%);
  transition: all 1s;
}

.left-to-right.start {
  transform: translateX(0);
}

.right-to-left {
  transform: translateX(200%);
  transition: all 1s;
}
.right-to-left.start {
  transform: translateX(0);
}

.zoom {
  transform: scale(0.5);
  opacity: 0;
  transition: all 1s;
}
.zoom.start {
  transform: scale(1);
  opacity: 1;
}
