@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Poppins";
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #17a2b8;
}

.alert {
  font-size: 40px;
  color: #17a2b8;
  border: none;
  outline: none;
  border-radius: 12px;
  padding: 10px 30px;
  font-weight: 600;
}
.box {
  display: flex;
  flex-direction: column;
}

.box .result {
  display: inline-block;
  border: 4px solid #fff;
  border-radius: 10px;
  font-size: 30px;
  font-weight: 600;
  margin: 0 auto 30px;
  padding: 10px 20px;
}
.detail {
  display: flex;
  justify-content: space-around;
}
.card {
  width: 150px;
  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  margin: 0 10px;
}
.card p {
  padding: 5px;
}
.card p:first-child {
  background: #78c0c9;
}
.card p:last-child {
  color: #000;
}
.hide {
  display: none;
}
