* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)),
    url(./img/winter.jpg) no-repeat center/cover; /* *** */
}

#weather {
  width: 350px;
  border-radius: 10px;
  padding: 15px 20px;
  background: 
  /* rgba(0, 0, 0, 0.2), */ url(./img/fall.jpg) no-repeat
    center/cover /* *** */;
}
.spring {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)),
    url(./img/spring.jpg) no-repeat center/cover;
}
.spring #weather {
  background: url(./img/spring.jpg) no-repeat center/cover;
}
.summer {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)),
    url(./img/summer.jpg) no-repeat center/cover;
}
.summer #weather {
  background: url(./img/summer.jpg) no-repeat center/cover;
}
.fall {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)),
    url(./img/fall.jpg) no-repeat center/cover;
}
.fall #weather {
  background: url(./img/fall.jpg) no-repeat center/cover;
}
.winter {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)),
    url(./img/winter.jpg) no-repeat center/cover;
}
.winter #weather {
  background: url(./img/winter.jpg) no-repeat center/cover;
}
.search {
  width: 100%;
  padding: 10px 20px;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 0 15px 0 15px; /* * */
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  font-size: 19px;
}

.search:focus {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 15px 0 15px 0; /* * */
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.1);
}

.content {
  text-align: center;
  color: #fff;
  margin: 20px 0;
  transition: all 0.4s;
}

.capital {
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

.time {
  margin: 10px 0 30px 0;
  font-size: 15px;
}

.temperature {
  font-size: 65px;
  text-shadow: 4px 4px rgba(0, 0, 0, 0.5); /* * */
  background: rgba(255, 255, 255, 0.6);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.short-desc {
  font-size: 40px;
  font-weight: 500;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  margin: 15px 0;
}
.more-desc {
  display: flex;
  justify-content: space-between;
  padding: 0 20px 0;
}
.more-desc div {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.more-desc div i {
  margin: 10px 0;
}

.hide {
  visibility: hidden;
  opacity: 0;
}
